<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TwitterStalky</title>
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico|Lobster' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
  </head>
  <body class="row">
  <header>
    <nav id="header-nav" class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <div id="logo-img" alt="Logo image">
            	<img src="../images/logo.jpg">
            </div>
         
		<div class="navbar-brand">
            <h1>Twitter Stalky</h1>
            <p>
              <span>Stalking made easy!</span>
            </p>
          </div>

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        
        <div id="collapsable-nav" class="collapse navbar-collapse">
           <ul id="nav-list" class="nav navbar-nav navbar-right">
            <li>
              <a href=#>
                <span class="glyphicon glyphicon-cutlery"></span><br class="hidden-xs"> Menu</a>
            </li>
            <li class="active">
              <a href="#">
                <span class="glyphicon glyphicon-info-sign"></span><br class="hidden-xs"> Edit</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  </header>
	<div class="container jumbotron">
		<div class="handle-title">
			<h2>
			Edit Twitter Handle
			</h2>
		</div>
		<div class="new-form">
			<%= render'form' %>
		</div>
		<button type="button" class="btn btn-primary btn-md back-button">
			<%= link_to 'Back' , :back %>
		</button>
	</div>

	<footer class="panel-footer col-lg-12 col-md-12">
		&copy www.anujraajgoel.com
	</footer>
</body>
</html>
















